h1, h2, h3, h4, h5, h6, p, a, li, tr, td {
    font-family: "Helvetica", sans-serif !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    padding-bottom: 30px;
}

colgroup {
    border: none !important;
}

.reveal .center table {
    width: 100% !important;
}

.reveal table th, .reveal table td {
    text-align: left;
}

.reveal pre {
    font-family: "source code pro", "inconsolata", "monospace";
}
